<style>
    @@media (max-width: 880px){
        footer {
            padding-left: 0 !important;
            text-align: center;
        }
    }
</style>
<footer style="background-color: #3d2500; padding: 20px 0 20px 100px;">
    <span style="color: rgba(255, 255, 255, 0.60); font-size: 1em;">Powered by Tytonix</span>
</footer>